@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #18ccfc;
  --color-secondary: #6344f5;
  --color-tertiary: #ae48ff;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(35%) sepia(84%) saturate(1492%) hue-rotate(199deg)
    brightness(98%) contrast(90%);
}

html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
  }

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.animate-text {
  background-size: 200% 200%;
  animation: text-gradient 10s linear infinite;
}

@keyframes text-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}
